@import "./styles.css";

body {
   padding-top: 2rem;
   padding-bottom: 2rem;
   width: 80%;
   max-width: 900px;
   margin-left:auto;
   margin-right:auto;
}

h1, h2 {
   padding-top: 1rem;
   padding-bottom: .5rem;
}

img {
   width: 100%;
   margin-left:auto;
   margin-right:auto;
}
