body {
   font-family: "Fira Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
   font-size: .9em;
   line-height: 1.5;
}

a {
   color: #292b2c;
   text-decoration: underline;
} 

a:hover {
   color: #757575;
} 

#heading {
   font-weight: bold;
   font-size: 1.8em;
   margin-left: -1px;
}

#main {
   margin-top: 8em;
   position: relative;
}

#main::before {
   background-color: #fda92b;
   animation: Gradient 15s ease infinite alternate;
   transform: skew(0.5deg, -1deg);
   z-index: -2;
}


#text-panel {
   padding: 1em;
}

#text-panel p:last-child {
   margin-bottom: 0;
}

#text-panel::before {
   background-color: white;
   transform: skew(-0.5deg, 0.5deg);
   z-index: -1;
}



.tile {
   padding: 2em;
}


.tile::before {
   content: "";
   display: block;
   position: absolute;
   top: 0em;
   bottom: 0em;
   left: 0em;
   right: 0em;
}

@keyframes Gradient {
	0% {
      background-color: #fda92b;
	}
	50% {
      background-color: #5a8a4b;
	}
	100% {
      background-color: #586880;
	}
}



#picture-container {
}

#picture {
   width: 100%;
   margin-top: -40%;
   padding-top: 20px;
   padding-bottom: 20px;
   max-width: 30vw;
}


#contact h3 {
   padding-left: .3em;
}

#contact table td {
   border-top: 1px solid #d2d2d2;
}
#contact table tr:first-child td {
   border-top: none;
}


#disclaimer {
   color: #807e7e;
   font-size: 0.7rem;
   margin-top: 3.5em;
}


#footer * {
   color: #807e7e;
}
#footer .link::after {
   content: "\2022";
   padding-left: .5em;
   padding-right: .3em;
}

#footer .link:last-child::after {
   display: none;
}

@media (min-width: 1200px) {
   .container{
      max-width: 870px;
   }
}

@media (min-width: 768px) {
   #text-panel {
      padding: 2em;
   }

   #main::before {
      transform: skew(1deg, -1deg);
   }

   #text-panel::before {
      transform: skew(-1deg, 0.5deg);
   }
}
