body {
   font-family: "Cantarell", sans-serif;
   line-height: 1.5;
}

@media (min-width: 1200px) {
   .container{
      max-width: 970px;
   }
}

.my-5 {
   margin-top: 6rem !important;
}

#introduction {
   margin-top: 6rem;
   margin-bottom: 3rem;
}

#colorbar {
   max-width: 80%;
   width: 200px;
   height: 10px;
   background-image: url(../img/colorbar.png);
   background-size: 100% 100%;
   margin-bottom: 1em;
}


#contact table td {
   border-top: 1px solid #d2d2d2;
}
#contact table tr:first-child td {
   border-top: none;
}

.underlined {
   border-bottom: 1px solid #d2d2d2;
   display: inline-block;
   padding-right: 50px;
   padding-top: 15px;
   padding-bottom: 4px;
}

.full-width-banner {
   width: 100%;
}

.full-width-banner h2 {
   color: white;
   text-align: center;
   color: rgba(255, 255, 255, 0.8); 
   text-shadow: 0px 2px 0px rgba(31, 31, 31, 0.2);
}

.scrolling-tile {
   min-height: 150px;
   background-position: left bottom;
   animation: swipe-left 60s linear infinite;
}

#banner-website .scrolling-tile {
   background-image: url(../img/websites.jpg);
}

#banner-sourcecode .scrolling-tile {
   background-image: url(../img/sourcecode.jpg);
}

.text-tile {
   background-color: white;
}

@keyframes swipe-left {
   from { background-position: 0px center; }
   to { background-position: -1790px center; }
}
@keyframes swipe-right {
   from { background-position: -1790px center; }
   to { background-position: 0px center; }
}


@media (min-width: 992px) {
   #banner-website {
      background-size: 100% 100%;
      background-image: url(../img/orange.png);
   }

   #banner-sourcecode {
      background-size: 100% 100%;
      background-image: url(../img/blue.png);
   }
}


#disclaimer {
   color: #807e7e;
   font-size: 0.7rem;
   margin-top: 5em;
}
