body{
background:#181818 ;
text-align:center;
}


#header{
background-image:url(Design/back.jpg);
width:850;
height:270;
}
#navbar{
width:850;
height:50;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 0;
	padding:0;
	list-style: none;
	background-color: #202020 ;
	border-bottom: 1px solid #080808 ; 
	border-top: 1px solid #080808 ; }
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 15px 25px;
	text-decoration: none;
	font-family: "Arial", sans-serif;
	font-size: 22px;
	color: 	#E0E0E0 ;; }
#nav li a:hover {
	color: #E8E8E8 ;
	background-color: #080808; }


#main{
background:white;
width:850;
margin-top: 0;
font-size: 18px;
}
#main A{
color:#202020;
text-decoration:underline;
}

A{
color:DimGrey ;
text-decoration:none;
}







