.modular-row{
	margin: 20px 0;
	display: table;
	width: 100%;
}

/* Resume/Lebenslauf */
.green-arrow{
	padding-left: 1em;
	background-image: url("../images/arrow-green.png");
	background-repeat: no-repeat;
	background-size: 10px 15px;
	background-position: left center;
	margin-top: 2em;
}

.gray{
	color: #666666;
}


.resume{
	border-spacing: 3em 0;
	table-layout: fixed;
}

.resume th{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

table.resume > tbody > tr:first-child > th:first-child{
	width: 150px;
}

/* Kontaktformular */
table.contact > tbody > tr:first-child > th:first-child{
	width: 100px;
}

/* Social Media */
#social-media div{
	margin: 0 auto;
	padding: 20px;
	width: 100px;
	height: 100px;
	background-size: 100% 100%;
}



/* References/Referenzen */
.reference{
	float: left;
	margin: 20px;
	background-color: #F2F2F2;
	border-bottom: 2px solid #CCCCCC;
	width: 500px;
}

.reference .thumbnail{
	width: 100%;
	height: 150px;
	box-shadow: inset 0 0px 10px -3px #000000;
	background-size: cover;
	background-position: top center;
}

.reference h2{
	font-size: 1.2em;
	margin-left: .7em;
	margin-top: 0 !important;
	padding-top: .8em;
}

.reference p{
	margin-bottom: 0 !important;
	padding-bottom: .8em;
}


/* Table-Modular */
.table > .item{
	float: left;
	padding-bottom: 20px;
}

.table > .item > .header{
	font-size: 1.8em;
	padding: 0;
	margin: 0 !important;
	margin-left: 10px !important;
}

/* Showcase */
.showcase .item{
	background-color: #F2F2F2;
	float: left;
	width: 48%;
	margin: 1%;

	color: #5a5a5a;
	border-bottom: 1px solid #B2B2B2;
}

.showcase .item > .image {
	width: 100%;
	height: 150px;
	background-size: cover;
	box-shadow: inset 0 -10px 20px -10px #000000;
}

.showcase .item > .header {
	font-family: Raleway, sans-serif !important;
	color: #000000;
	font-weight: bold;
	font-size: 1.3em;
	margin: 1em .5em .5em !important;
}

/* Home-Page */
#welcome h1{
	text-align: left;
	margin-left: 12px;
}

#portrait{
	background-image: url("../images/Portrait.jpg");
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}	

#portrait-container{
	height: 350px;
}
.skillset .green-arrow{
	margin-top: 30px !important;
	width: 150px;
	float: left;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}

.skillset > div{
	float: left;
	display: table;
	padding-bottom: 60px;
	width: 800px;
}

.skill{
	background-color: #333333;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	behavior: url(http://localhost:8080/www/css/PIE.htc);
	float: left;
	margin-left: 25px;
	margin-right: 25px;
}

.skill > div{
	background-image: url("../images/skills.png");
	background-size: 320px 192px;
	margin: 15px auto 5px;
	width: 64px;
	height: 64px;
}

.skill > p{
	text-align: center;
	color: #666666;
	margin-left: 0px !important;
	margin-right: 0px !important;
}


/* References & Articles */
.image-right {
	float: right;
	margin-right: 30px;
	margin-left: 50px;
}


.image-center {
	float: none;
	margin: 0 auto;
	display:block;
}

/* Cover */
.cover{
	background-size: cover;
	position: relative;
	margin-bottom: 100px;
}

.cover > .overlay{
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding-top: 150px;
	padding-bottom: 50px;
	background-image: url("../images/transparent.png");
	background-size: 100% 100%;
}

.cover > .overlay *{
	color: 	#b9b9b9 !important;
	padding: 0 70px;
}


/* Button */
.button {
	padding: 8px 12px;
	border-top: 5px solid #B2B2B2;
	font-size: 1em;
	background-color: #E9E9E9;
	color: #5a5a5a;
	text-decoration: none;
}

.download {
	padding-left: 32px;
	background-image: url("../images/Download.png");
	background-repeat: no-repeat;
	background-position: 5px 50%;
	background-size: 22px 18px;
}

/* Videos */
.video-container{
	margin: 0 auto;
	width: 70%;
	margin-bottom: -15%;
}

/* If screen to small for two-column layout */
@media only screen and (max-width: 800px) {


	.image-right {
		width: 100%;
		float: none;
		margin: 30px auto;
		display:block;
	}



}

/* If screen is smaller than the site's content */
@media only screen and (max-width: 1200px) {


	.skillset > div{
		width: 100%;
		padding-bottom: 20px;
	}

	#welcome h1{
		text-align: center;
		margin-left: .5em;
	}

	.skill{
		margin-top: 15px;
		margin-bottom: 25px;
	}

	.reference{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}


}