
body {
	font-family: 'Lato', sans-serif;
	color: 	#0A0A0A;
}

p{
	font-size: 1em;
	line-height: 1.5;
	margin: 0.05em;
}

#body p,
h2,h3,h4,h5{
	margin: .8em;
}

#body li p{
	margin: 0.05em;
}

a{
	color: 	#191919;
}

strong{
	color: 	#000000;
	font-size: .85em;
}

h1,h2,h3,h4,h5{
	font-family: 'Lustria', serif;
	margin-top: .3em;
	margin-bottom: .3em;
	margin-left: .5em;
	color: 	#000000;
}

h1{
	text-align: center;
}


blockquote{
	margin-left: 10px;
	padding: 5px 0px 5px 5px;
	font-style:italic;
	border-left: solid 5px #5FA5EB;
}

pre code{
	margin-left: 10px;
	padding-left: 20px !important;
	border-left: solid 5px #b91d47;
}

/* Removes border in old ie versions */
img {
  border-width: 0;
}