body{
	margin: 0;
    background-color: #E4E4E4;
}

.center{
	margin: 0 auto;
}

.clear:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}


#header-wrapper{
	width: 100%;
	background-color: white;
}

#body-wrapper{
    width: 100%;
}


#divider-wrapper{
	width: 100%;
	background-color: #83CE36;
    border-bottom: 2px solid #77B72D;
}

#header, #divider, #body{
	max-width: 1200px;
	margin: 0 auto;
}

#header{
	height: 90px;
}

#body{
	background-color: white;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 5em;
}

#divider{
	height: 60px;
	max-width: 1150px;

	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	background-size: 10px 15px;
	background-position: left center;
}


#divider .navigation{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}

#divider .navigation li{
	float: left;
	padding: 0px 10px;
}

#divider .navigation li .active{
	background-color: #73B82E;
}

#divider .navigation li :hover{
	background-color: #73B82E;
}

#divider .navigation li a{
	display: block;
	padding: 10px 15px;

	font-size: 1.1em;
	text-decoration: none;
	color: #FDFFFD;

	transition: background-color 0.05s ease;
}

#header #caption p{
	float:left;
	font-family: "Lato", sans-serif !important;
	font-size: 1.8em;
	margin-top: 30px;
	margin-left: 10px;
}


#content{
	margin: 0 5%;
    overflow: auto;
    min-height: 600px;
    display: block;
    padding-top: 65px;
}

#footer{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
	height: 100px;
}

#footer #copyright{
	color: 	#484848;
	float: left;
    margin-right: 10px;
}

#footer #mail{
	float: right;
}


/* 2-column responsive layout */
.left{
    float: left;
    width: 50%;
}

.right{
    float: right;
    width: 50%;
}

.column:after {
    content: "";
    clear: both;
    display: table;
}

.padding{
    padding: 3%;
    width: 42%;
}

/* If screen is smaller than the site's content */
@media only screen and (max-width: 1200px) {

    /* Responsive 2-column layout */
    .left, .right{
        display: block;
        float: none;
        width: auto;
    }

    img.left , img.right{;
        width: 90%;
    }

    .right{
        margin-top: 50px;
    }

	/* Center page title */
    #header #caption p {
    	width: 100%;
    	text-align: center;
    }


}

/* If screen is smaller than the navigation bar */
@media only screen and (max-width: 600px) {

	/* Align navigation vertically */
    #divider .navigation li {
    	float: none;
    	padding: 3px 10px;
    }

    #divider{
    	height: 210px !important;
    }

	#footer #mail{
		float: left;
	}

}